
.react-date-picker {
  width: 100%;
}
.react-date-picker__wrapper {
  height: 40px;
  border: solid 1px rgb(203, 213, 224) !important;
  border-radius: 6px;
  display: flex !important;
  align-items: center;
  padding-left: 12px !important;
}